In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [3]:
# Read test data
data = pd.read_csv('TestValues.csv')

# Replace gps height, population and amount_tsh that is 0 with NA to invalidate missing data
data['gps_height'].replace(0, np.nan, inplace=True)
data['population'].replace(0, np.nan, inplace=True)
data['amount_tsh'].replace(0, np.nan, inplace=True)
data['longitude'].replace(0, np.nan, inplace=True)
data['latitude'].replace(0, np.nan, inplace=True)
data['construction_year'].replace(0, np.nan, inplace=True)
print(data.isnull().sum())

id                           0
amount_tsh               10410
date_recorded                0
funder                     869
gps_height                5211
installer                  877
longitude                  457
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                  99
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                5453
public_meeting             821
recorded_by                  0
scheme_management          969
scheme_name               7092
permit                     737
construction_year         5260
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [4]:
data["gps_height"].fillna(data.groupby(['region', 'district_code'])["gps_height"].transform("mean"), inplace=True)
data["gps_height"].fillna(data.groupby(['region'])["gps_height"].transform("mean"), inplace=True)
data["gps_height"].fillna(data["gps_height"].mean(), inplace=True)
data["population"].fillna(data.groupby(['region', 'district_code'])["population"].transform("median"), inplace=True)
data["population"].fillna(data.groupby(['region'])["population"].transform("median"), inplace=True)
data["population"].fillna(data["population"].median(), inplace=True)
data["amount_tsh"].fillna(data.groupby(['region', 'district_code'])["amount_tsh"].transform("median"), inplace=True)
data["amount_tsh"].fillna(data.groupby(['region'])["amount_tsh"].transform("median"), inplace=True)
data["amount_tsh"].fillna(data["amount_tsh"].median(), inplace=True)
print(data.isnull().sum())

id                          0
amount_tsh                  0
date_recorded               0
funder                    869
gps_height                  0
installer                 877
longitude                 457
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                 99
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting            821
recorded_by                 0
scheme_management         969
scheme_name              7092
permit                    737
construction_year        5260
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
dtype: int64

In [5]:
data["latitude"].fillna(data.groupby(['region', 'district_code'])["latitude"].transform("mean"), inplace=True)
data["longitude"].fillna(data.groupby(['region', 'district_code'])["longitude"].transform("mean"), inplace=True)
data["longitude"].fillna(data.groupby(['region'])["longitude"].transform("mean"), inplace=True)
data["construction_year"].fillna(data.groupby(['region', 'district_code'])["construction_year"].transform("median"), inplace=True)
data["construction_year"].fillna(data.groupby(['region'])["construction_year"].transform("median"), inplace=True)
data["construction_year"].fillna(data.groupby(['district_code'])["construction_year"].transform("median"), inplace=True)
data["construction_year"].fillna(data["construction_year"].median(), inplace=True)
print(data.isnull().sum())

id                          0
amount_tsh                  0
date_recorded               0
funder                    869
gps_height                  0
installer                 877
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                 99
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting            821
recorded_by                 0
scheme_management         969
scheme_name              7092
permit                    737
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
dtype: int64

In [6]:
features=['amount_tsh', 'gps_height', 'population']
scaler = MinMaxScaler(feature_range=(0,20))
data[features] = scaler.fit_transform(data[features])
data[features].head(20)

    amount_tsh  gps_height  population
0      0.00198   14.488356    0.558075
1      0.00298   11.474947    0.521451
2      0.00498   11.460833    0.870248
3      0.00498    2.286521    0.434252
4      0.04998    9.294284    0.102895
5      0.00298   12.293578    0.347053
6      0.19998    4.283698    1.044646
7      0.00498    2.053634    0.000000
8      0.00298    4.523641    0.068015
9      0.00198    8.045166    0.000000
10     0.00048    9.287227    0.129055
11     0.00498    4.693013    0.870248
12     0.02498    7.817173    0.364493
13     0.01498    8.865599    0.695849
14     0.09998   11.870148    0.000000
15     0.11998    6.866620    0.783048
16     0.00398    0.127029    1.567841
17     0.01998   13.055752    0.000000
18     0.02498    9.923570    0.870248
19     0.00498    2.999294    0.521451

In [7]:
data.isnull().sum()
data['date_recorded'] = pd.to_datetime(data['date_recorded'])
data.date_recorded.head(5)
print(data.date_recorded.dt.year.head(5))
print(data.construction_year.head(5))
data['operational_year'] = data.date_recorded.dt.year - data.construction_year
data.operational_year.head(5)

0    2013
1    2013
2    2013
3    2013
4    2013
Name: date_recorded, dtype: int64
0    2012.0
1    2000.0
2    2010.0
3    1987.0
4    2000.0
Name: construction_year, dtype: float64

0     1.0
1    13.0
2     3.0
3    26.0
4    13.0
Name: operational_year, dtype: float64

In [8]:
#DATA Cleaning
waste_features=['wpt_name','num_private','subvillage','region_code','recorded_by']
#since region and region_code are representing the same thing
data.drop(waste_features,axis=1,inplace=True)
print(data.groupby(['management', 'management_group']).size() )
data.drop('management_group',axis=1,inplace=True)

management        management_group
company           commercial            174
other             other                 239
other - school    other                  27
parastatal        parastatal            461
private operator  commercial            533
trust             commercial             27
unknown           unknown               122
vwc               user-group          10117
water authority   commercial            219
water board       user-group            755
wua               user-group            583
wug               user-group           1593
dtype: int64

In [9]:
data.drop('extraction_type_group',axis=1,inplace=True)
data.drop('extraction_type_class',axis=1,inplace=True)
data.groupby(['scheme_management', 'scheme_name']).size()
data.drop('scheme_name',axis=1,inplace=True)

In [10]:
data.groupby(['payment', 'payment_type']).size()

payment                payment_type
never pay              never pay       6364
other                  other            260
pay annually           annually         928
pay monthly            monthly         2097
pay per bucket         per bucket      2281
pay when scheme fails  on failure       928
unknown                unknown         1992
dtype: int64

In [11]:
data.drop('payment',axis=1,inplace=True)

In [12]:
data.groupby(['water_quality', 'quality_group']).size()

water_quality       quality_group
coloured            colored            133
fluoride            fluoride            44
fluoride abandoned  fluoride             6
milky               milky              201
salty               salty             1226
salty abandoned     salty               84
soft                good             12687
unknown             unknown            469
dtype: int64

In [13]:
data.drop('quality_group',axis=1,inplace=True)

In [14]:
data.groupby(['quantity', 'quantity_group']).size()

quantity      quantity_group
dry           dry               1536
enough        enough            8336
insufficient  insufficient      3767
seasonal      seasonal          1025
unknown       unknown            186
dtype: int64

In [15]:
data.drop('quantity_group',axis=1,inplace=True)

In [16]:
data.groupby(['source', 'source_type', 'source_class']).size()

source                source_type           source_class
dam                   dam                   surface          184
hand dtw              borehole              groundwater      234
lake                  river/lake            surface          185
machine dbh           borehole              groundwater     2747
other                 other                 unknown           49
rainwater harvesting  rainwater harvesting  surface          568
river                 river/lake            surface         2352
shallow well          shallow well          groundwater     4316
spring                spring                groundwater     4195
unknown               other                 unknown           20
dtype: int64

In [17]:
data.drop('source_type',axis=1,inplace=True)
data.drop('source_class',axis=1,inplace=True)

In [19]:
data.groupby(['waterpoint_type', 'waterpoint_type_group']).size()

waterpoint_type              waterpoint_type_group
cattle trough                cattle trough              34
communal standpipe           communal standpipe       7106
communal standpipe multiple  communal standpipe       1508
dam                          dam                         1
hand pump                    hand pump                4396
improved spring              improved spring           175
other                        other                    1630
dtype: int64

In [20]:
data.drop('waterpoint_type_group',axis=1,inplace=True)

In [22]:
data.drop('ward',axis=1,inplace=True)

In [23]:
data.isnull().sum()

id                     0
amount_tsh             0
date_recorded          0
funder               869
gps_height             0
installer            877
longitude              0
latitude               0
basin                  0
region                 0
district_code          0
lga                    0
population             0
public_meeting       821
scheme_management    969
permit               737
construction_year      0
extraction_type        0
management             0
payment_type           0
water_quality          0
quantity               0
source                 0
waterpoint_type        0
operational_year       0
dtype: int64

In [24]:
data.drop('public_meeting', axis=1, inplace=True)
data.drop('permit', axis=1, inplace=True)

In [25]:
data.isnull().sum()

id                     0
amount_tsh             0
date_recorded          0
funder               869
gps_height             0
installer            877
longitude              0
latitude               0
basin                  0
region                 0
district_code          0
lga                    0
population             0
scheme_management    969
construction_year      0
extraction_type        0
management             0
payment_type           0
water_quality          0
quantity               0
source                 0
waterpoint_type        0
operational_year       0
dtype: int64

In [26]:
data.waterpoint_type = data.waterpoint_type.str.lower()
data.funder = data.funder.str.lower()
data.basin = data.basin.str.lower()
data.region = data.region.str.lower()
data.source = data.source.str.lower()
data.lga = data.lga.str.lower()
data.management = data.management.str.lower()
data.quantity = data.quantity.str.lower()
data.water_quality = data.water_quality.str.lower()
data.payment_type=data.payment_type.str.lower()
data.extraction_type=data.extraction_type.str.lower()

In [27]:
data["funder"].fillna("other", inplace=True)
data["scheme_management"].fillna("other", inplace=True)
data["installer"].fillna("other", inplace=True)
print(data.isnull().sum())
data.drop('date_recorded', axis=1, inplace=True)
data.drop('construction_year', axis=1, inplace=True)
data.info()
data.quantity.head(5)
pd.DataFrame(data).to_csv("clean_test.csv")

id                   0
amount_tsh           0
date_recorded        0
funder               0
gps_height           0
installer            0
longitude            0
latitude             0
basin                0
region               0
district_code        0
lga                  0
population           0
scheme_management    0
construction_year    0
extraction_type      0
management           0
payment_type         0
water_quality        0
quantity             0
source               0
waterpoint_type      0
operational_year     0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14850 entries, 0 to 14849
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 14850 non-null  int64
 1   amount_tsh         14850 non-null  float64
 2   funder             14850 non-null  object
 3   gps_height         14850 non-null  float64
 4   installer          14850 non-null  object
 5   longitude          14850 non-null  float64
 6   latitude           14850 non-null  float64
 7   basin              14850 non-null  object
 8   region             14850 non-null  object
 9   district_code      14850 non-null  int64
 10  lga                14850 non-null  object
 11  population         14850 non-null  float64
 12  scheme_management  14850 non-null  object
 13  extraction_type    14850 non-null  object
 14  management         14850 non-null  object
 15  payment_type       14850 non-null  object
 16  water_quality      14850 non-null  object
 17  quantity           14850 non-null  object
 18  source             14850 non-null  object
 19  waterpoint_type    14850 non-null  object
 20  operational_year   14850 non-null  float64
dtypes: float64(6), int64(2), object(13)
memory usage: 2.4+ MB

In [28]:
# cleaning data for pytorch nn model
from sklearn.preprocessing import LabelEncoder

print(data.head())

df = data.copy()
for col in df.columns:
    print(df.dtypes[col])
#     if data.dtypes[col] == "object":
#         data[col] = data[col].fillna("NA")
#     else:
#         data[col] = data[col].fillna(0)
    df[col] = LabelEncoder().fit_transform(df[col])

cols_at_end = ['status_group']
df = df[[c for c in df if c not in cols_at_end] 
        + [c for c in cols_at_end if c in df]]
print(df.head())
pd.DataFrame(df).to_csv("clean_test-pt.csv")
print(df.columns)

      id  amount_tsh                  funder  gps_height   installer  \
0  50785     0.00198                    dmdd   14.488356        DMDD
1  51630     0.00298  government of tanzania   11.474947         DWE
2  17168     0.00498                   other   11.460833       other
3  45559     0.00498              finn water    2.286521  FINN WATER
4  49871     0.04998                  bruder    9.294284      BRUDER

   longitude   latitude                    basin   region  district_code  ...  \
0  35.290799  -4.059696                 internal  manyara              3  ...
1  36.656709  -3.309214                  pangani   arusha              2  ...
2  34.767863  -5.004344                 internal  singida              2  ...
3  38.058046  -9.418672  ruvuma / southern coast    lindi             43  ...
4  35.006123 -10.950412  ruvuma / southern coast   ruvuma              3  ...

  population  scheme_management extraction_type   management payment_type  \
0   0.558075         Parastatal           other   parastatal    never pay
1   0.521451                VWC         gravity          vwc    never pay
2   0.870248                VWC           other          vwc    never pay
3   0.434252                VWC           other          vwc      unknown
4   0.102895        Water Board         gravity  water board      monthly

  water_quality      quantity                source     waterpoint_type  \
0          soft      seasonal  rainwater harvesting               other
1          soft  insufficient                spring  communal standpipe
2          soft  insufficient  rainwater harvesting               other
3          soft           dry          shallow well               other
4          soft        enough                spring  communal standpipe

  operational_year
0              1.0
1             13.0
2              3.0
3             26.0
4             13.0

[5 rows x 21 columns]
int64
float64
object
float64
object
float64
float64
object
object
int64
object
float64
object
object
object
object
object
object
object
object
float64
      id  amount_tsh  funder  gps_height  installer  longitude  latitude  \
0  10144           9     175        1977        214       7525      9392
1  10319          12     250        1576        221       9370     11209
2   3416          16     620        1574       1076       6676      7494
3   9123          16     222         314        262      12109      1843
4   9953          28      73        1264         75       7190       295

   basin  region  district_code  ...  population  scheme_management  \
0      0       8              3  ...         261                  2
1      5       0              2  ...         249                  6
2      0      18              2  ...         361                  6
3      7       7             13  ...         210                  6
4      7      16              3  ...          52                  9

   extraction_type  management  payment_type  water_quality  quantity  source  \
0                9           3             2              6         3       5
1                3           7             2              6         2       8
2                9           7             2              6         2       5
3                9           7             6              6         0       7
4                3           9             1              6         1       8

   waterpoint_type  operational_year
0                6                 5
1                1                18
2                6                 7
3                6                34
4                1                18

[5 rows x 21 columns]
Index(['id', 'amount_tsh', 'funder', 'gps_height', 'installer', 'longitude',
       'latitude', 'basin', 'region', 'district_code', 'lga', 'population',
       'scheme_management', 'extraction_type', 'management', 'payment_type',
       'water_quality', 'quantity', 'source', 'waterpoint_type',
       'operational_year'],
      dtype='object')